p {
    color: red;
}

/* id 选择器, "#" 前缀, 用于唯一元素 */
#blue-text {
    color: blue;
}

/* class 选择器, "." 前缀, 用于具有相同属性的一类元素 */
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}
